<h2>Lista de categorias:</h2>
{{#each erros}} 
    <div class="alert alert-danger">{{texto}}</div>
 {{else}}
    
 {{/each}}

{{#each categorias}}
<div class="accordion mt-4" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4>{{nome}} </h4>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h5>Slug: {{slug}}</h5>
        <h6>Data de criação: {{date}}</h6>    
        <hr>
        <a href="/categorias/{{slug}}"> <button class="btn btn-success">Vers postagens desta categoria</button> </a>
       
      </div>
    </div>
  </div>
  </div>

  
  {{else}}
  <h4 class="mt-4 alert alert-warning">Nenhuma categoria registrada! </h4>
 
{{/each}}
